<!DOCTYPE html>
<head>
  <!-- Adding Bootstrap -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="container">
      <figure>
        <img
          :src="imgSrc"
          :title="imgOwner"
          alt="Avatar github nic33wild"
          class="mt-5"
          width="150px"
        />
        <figcaption>{{imgOwner}}</figcaption>
      </figure>
    </div>
    <div class="container">
      <form v-if="!submitted" class="mt-5">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            v-model="email"
            id="email"
            class="form-control form-control-lg"
          />
        </div>
        <button type="submit" @click.prevent="process" class="btn btn-primary">
          Submit
        </button>
      </form>
      <h2 v-else v-cloak class="mt-5">Thank you to submit!!!</h2>
    </div>
  </div>

  <!-- Vue CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        email: "nic33wild@gmail.com",
        submitted: false,
        imgSrc: "",
        imgOwner: ""
      },
      created: function () {
        this.fetchGitHub();
      },
      methods: {
        process: function () {
          this.submitted = true;
        },
        fetchGitHub: function () {
          var url = "https://api.github.com/users/nic33wild";
          axios.get(url).then(function (res) {
            vm.imgSrc = res.data.avatar_url;
            vm.imgOwner = "Avatar of " + res.data.login;
          });
        }
      }
    });
  </script>
</body>
